<div class='center jumbotron'>
  <h1>Welcome to the Todo App</h1>

  <h2>
    This is the home page for the Todo App
  </h2>
  <%= image_tag('img_home.png',width: '500px' ,alt: 'Home page image') %>
</div>
<div class="tech-stack">
  <%= link_to image_tag('rails.svg', alt:'Rails logo', width:'200'), 'https://rubyonrails.org/' %>
</div>