@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray:#777;
$link-color:#1a0dab;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// universal
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.tech-stack {
  width:100vw;
  padding:0px 2rem;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
  flex-wrap:wrap;
  align-content:space-between;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#TITLE {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding:5px 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: $link-color;
    &:hover {
      text-decoration:none;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li{
      float: left;
      margin-left: 15px;
    }
  }

}

/* forms */

input, textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}