<footer class="footer">
  <small>
    The <%= link_to 'Todo App project', 'https://github.com/dmk2E/todo-app' %> By <%= link_to 'dmk2E', 'https://github.com/dmk2E' %>
  </small>
  <nav>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </nav>
</footer>